.category-dropdown {
    margin-bottom: 20px;
    margin-right: 10px;
  }
  
  .dropdown-select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
  }
  
  .default-option {
    color: #aaa;
  }
  
  .option {
    text-align: center;
    color: #333;
    background-color: #fff;
  }
  
  .option:hover {
    background-color: #f0f0f0;
  }
  

  select{
    height: 40px;
    border-radius: 20px;
    /* font-size: 20px; */

  }