.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    color: black;
    height: 50px;
    border: none;
    border-bottom: 1px solid gainsboro;
  }
  
  .Header-left img {
    border-radius: 50%;
  }
  
  .Header-right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .Header-right ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: larger;
  }
  
  .Header-right ul li a {
    color: black;
    text-decoration: none;
  }
  
  .Header-right ul li a:hover {
    text-decoration: underline;
  }
  
  .Header-right ul li a.active {
    font-weight: bold;
    color: red;
  }
  
  .Header-center h2 {
    font-size: 36px;
    font-weight: bold;
    color: #0056b3;
    text-align: center;
    position: relative;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
    margin-left: 50px;
  }
  
  .Header-center h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 3px;
    background-color: #007bff; 
    transition: width 0.3s ease;
  }
  
  .Header-center h2:hover::after {
    width: 100%;
  }


  .Header-right {
    display: flex;
    align-items: center;
  }

  
.MenuButton {
  color: #333333;
}

.Menu {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.MenuItem {
  padding: 10px 20px;
  font-size: 16px;
  /* color: #333333; */
  text-decoration: none;
  color: black;
  
}

.MenuItem:hover {
  background-color: #f5f5f5;
}

h2{
  text-align: center;
  color: #0056b3;
  border-bottom: 1px solid black;
}